.hero {
    background: #d9d9d9;
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.title {
    font-size: 4rem;
    font-weight: 800;
    color: #62ff00  ;
}



.btn-custom {
    background: #03045E;
    color: #62ff00;
    padding: 18px 45px;
    border-radius: 15px;
    font-weight: 600;
}

.btn-custom:hover{
   background:#03045e; /* color al pasar el mouse */
    color:white;
}

.stats-box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-box {
    width: 55px;
    height: 55px;
    background: #62ff00;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #1f49b6;
}

.image-frame {
    background:  #03045E    ;
    padding: 35px;
}

.image-frame img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


@media(max-width:768px) {
    .title {
        font-size: 2.5rem;
    }

    .hero {
        padding: 40px 0;
    }
}